html, body {
  margin: 0px;
  padding: 0px;
  background: rgb(255, 255, 255);
  font-family: 'Helvetica', 'Arial';
  font-weight: lighter;
  font-size: 14px;
  overflow: hidden
}

.container {
  height: 90vh;
  margin: 5vh auto;
}

button:focus {
  outline: 0 !important;
}

button span {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  transform: translate(6%, -60%);
}

.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-xs-6 {
  border-radius: 50%;
}

.red {
  background: rgb(255, 160, 160);
}

.red:hover {
  background: rgb(255, 192, 192);
  cursor: pointer;
}

.yellow {
  background: rgb(255, 255, 160);
}

.yellow:hover {
  background: rgb(255, 255, 208);
  cursor: pointer;
}

.green {
  background: rgb(160, 255, 160);
}

.green:hover {
  background: rgb(192, 255, 192);
  cursor: pointer;
}

.cyan {
  background: rgb(160, 255, 255);
}

.cyan:hover {
  background: rgb(208, 255, 255);
  cursor: pointer;
}

.blue {
  background: rgb(160, 160, 255);
}

.blue:hover {
  background: rgb(192, 192, 255);
  cursor: pointer;
}

.magenta {
  background: rgb(255, 160, 255);
}

.magenta:hover {
  background: rgb(255, 208, 255);
  cursor: pointer;
}

.white {
  background: rgb(255, 255, 255);
}

.white:hover {
  background: rgb(240, 240, 240);
  cursor: pointer;
}

.black {
  background: rgb(64, 64, 64);
}

.black:hover {
  background: rgb(80, 80, 80);
  cursor: pointer;
}

.silver {
  background: rgb(224, 224, 224);
}

.selectedCell {
  animation:blink 600ms infinite alternate;
}

@keyframes blink {
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
};
