html, body {
  margin: 0px;
  padding: 0px;
  background: rgb(255, 255, 255);
  font-family: "Helvetica", "Arial";
}

.container {
  height: 90vh;
  margin: 5vh auto;
}

.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-xs-6 {
  border-radius: 50%;
}

.red {
  background: rgb(255, 160, 160);
}

.yellow {
  background: rgb(255, 255, 160);
}

.green {
  background: rgb(160, 255, 160);
}

.cyan {
  background: rgb(160, 255, 255);
}

.blue {
  background: rgb(160, 160, 255);
}

.magenta {
  background: rgb(255, 160, 255);
}

.white {
  background: rgb(255, 255, 255);
}

.black {
  background: rgb(64, 64, 64);
}

.silver {
  background: rgb(208, 208, 224);
}
